<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-4">
    <%= link_to root_path, class: "navbar-brand fw-bold" do %>
      <i class="fab fa-facebook-f me-2"></i>
      Fotobook
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= form_with(url: photos_path, method: :get, local: true, class: "d-flex me-auto ms-lg-4 mt-2 mt-lg-0", style: "width: 250px;") do %>
      <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder: "Search", aria: { label: "Search" } %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item me-3">
            <%= link_to profile_photo_path(current_user), class: "nav-link" do %>
              <div class="d-flex align-items-center">
               <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar, class: "rounded-circle", style: "width: 50px; height: 50px; object-fit: cover;" %>
               <% else %>
                <span class="bg-primary rounded-circle text-white d-flex justify-content-center align-items-center me-2" style="width: 30px; height: 30px;">
                  <%= current_user.firstname[0] %><%= current_user.lastname[0] %>
                </span>
               <% end %>
                <span class="fw-bold"><%= current_user.firstname %> <%= current_user.lastname %></span>
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>